<div align="center">
	<h2>Banned Words</h2>
	${SUBMENU}
</div>
<hr />
<h3>Banned Words of ${NAME}</h3>
<table border="1">
	<tr>
		<td width="200"><div align="center"><strong>Word</strong></div></td>
		<td width="150"><div align="center"><strong>Punishment</strong></div></td>
		<td width="150"><div align="center"><strong>Type</strong></div></td>
		<td width="150"><div align="center"><strong>Strict Word</strong></div></td>
		<td width="150"><div align="center"><strong>Ignore Nicks</strong></div></td>
		<td width="100"><div align="center"><strong>Options</strong></div></td>
	</tr>
	${WORDS}
</table>
<br /><hr /><br />
<form method="post" action="">
	<table>
		<tr><td>Word: </td><td><input name="word" type="text" size="40" /></td></tr>
		<tr><td>Punishment: </td><td>${PUNISHMENTS}</td></tr>
		<tr><td>Type: </td><td>
			<select name="type">
				<option value="banned">Banned Word</option>
				<option value="inap">Inappropriate</option>
				<option value="insult">Insult</option>
				<option value="emote">Banned Emoticon / Character</option>
			</select>
		</td></tr>
		<tr><td colspan="2"><input type="checkbox" name="strict" value="true" />&nbsp;Ban strict word</td></tr>
		<tr><td colspan="2"><input type="checkbox" name="nonicks" value="true" />&nbsp;Ignore Nicknames</td></tr>
	</table>
	<p><input type="submit" name="add" value="Add Banned Word" /></p>
</form>
<p><span class="${REQUEST_RESULT}">${REQUEST_MSG}</span></p>
