<script type="text/javascript">
	function escapeHtml(text) {
		return text.replace(/[\"&<>]/g,function (a) {return {'"': '&quot;', '&': '&amp;', '<': '&lt;', '>': '&gt;'}[a];});
	}
	var req = null;
	function updateBotStatus() {
		if (req) {try {req.abort()} catch (err) {} req = null;}
		var rp = document.getElementById('refresh-progress');
		rp.innerHTML = "&nbsp;";
		req = $.get('/bot/?getbotstatus=' + Date.now(), function(data) {
			try {
				data = JSON.parse(data);
				document.getElementById('bot-connection').innerHTML = data.con;
				document.getElementById('bot-conntime').innerHTML = data.ctime;
				document.getElementById('bot-nick').innerHTML = data.nick;
				document.getElementById('bot-rooms').innerHTML = escapeHtml(data.rooms.join(', '));
				document.getElementById('bot-battles').innerHTML = escapeHtml(data.battles.join(', '));
				rp.innerHTML = '&nbsp;';
			} catch (err) {
				rp.innerHTML = '<small><span class="error-msg">Refresh failure</span></small>';
			}
		}).fail(function () {
			rp.innerHTML = '<small><span class="error-msg">Refresh failure</span></small>';
		});
	}
</script>
<script type="text/javascript">
	function showRestartConfirm() {
			var elem = document.getElementById('confirm-restart');
			if (elem) {
				elem.innerHTML = '<form style="display:inline;" method="post" action="">&nbsp;Are you sure?&nbsp;<input type="submit" name="restart" value="Restart Bot" /></form>';
			}
		}
</script>
<script type="text/javascript">
	function showStopConfirm() {
		var elem = document.getElementById('confirm-stop');
		if (elem) {
			elem.innerHTML = '<form style="display:inline;" method="post" action="">&nbsp;Are you sure?&nbsp;<input type="submit" name="stop" value="Stop Bot" /></form>';
		}
	}
</script>
<table border="0">
	<tr><td>
		<table border="1">
			<tr><td colspan="2"><div align="center"><strong>Bot Status </strong></div></td></tr>
			<tr><td width="150"><strong>Connection</strong></td><td width="150">${CONNECTION}</td></tr>
			<tr><td width="150"><strong>Connection Date</strong></td><td width="150">${CONNTIME}</td></tr>
			<tr><td><strong>Nickname</strong></td><td><span id="bot-nick">${NICK}</span></td></tr>
			<tr><td><strong>Rooms</strong></td><td><span id="bot-rooms">${ROOMS}</span></td></tr>
			<tr><td><strong>Battles</strong></td><td><span id="bot-battles">${BATTLES}</span></td></tr>
		</table>
	</td><td>
		<p><button onclick="updateBotStatus();">Refresh</button>&nbsp;<span id="refresh-progress">&nbsp;</span></p>
		<p><button onclick="showRestartConfirm();">Restart Bot</button><span id="confirm-restart">&nbsp;</span></p>
		${STOP_BUTTON}
	</td></tr>
</table>
<hr />
<h3>Bot Configuration</h3>
<form method="post" action="">
	<table border="0">
		<tr><td>Server: </td><td><input id="text-server" name="server" type="text" size="50" value="${SERVER}"/></td></tr>
		<tr><td>Port: </td><td><input id="text-port" name="port" type="text" size="50" value="${PORT}"/></td></tr>
		<tr><td>Server-ID: </td><td><input id="text-serverid" name="serverid" type="text" size="50" value="${SERVERID}"/></td></tr>
		<tr><td>Seconds to retry the connection: </td><td><input id="text-retry" name="retry" type="text" size="50" value="${RETRY}"/></td></tr>
	</table>
	<p><input type="checkbox" name="secure" value="true" ${SECURE} />&nbsp;Use secure connection (TLS).</p>
	<p><input type="submit" name="editbot" value="Save Changes" /></p>
</form>
<p><button onclick="document.getElementById('text-server').value = 'sim.psim.us'; document.getElementById('text-port').value = '8000'; document.getElementById('text-serverid').value = 'showdown'; document.getElementById('text-retry').value = '10';">Set Default Values</button></p>
<p><span class="${REQUEST_RESULT}">${REQUEST_MSG}</span></p>
