<table border="1">
	<tr><td width="250"><strong>SubCommand</strong></td><td width="250">${SUBCMD}</td></tr>
	<tr><td colspan="2">
		<form method="post" action="#Cmd-${CMDID}">
			<input type="hidden" name="cmd" value="${CMDID}" />
			<input type="hidden" name="subcmd" value="${SUBCMD}" />
			<p><label><textarea name="content" cols="80" rows="2">${TEXT}</textarea></label></p>
			<p><label><input type="submit" name="editsubcmd" value="Edit SubCommand" /></label></p>
		</form>
		<p><button onclick="deleteSubCommand('${CMDID}', '${SUBCMD}')">Delete SubCommand</button>&nbsp;
		<span id="confirm-delsubcmd-${CMDID}-${SUBCMD}">&nbsp;</span></p>
	</td></tr>
</table>
<br />
