<html>
	<head>
		<title>Aliases - Showdown ChatBot</title>
		<link rel="stylesheet" href="/static/style.css" />
		<style>
			table, td, th {
				padding: 0.5rem;
				border: solid 1px;
				text-align: left;
			}
			th {
				font-weight: bold;
			}
			table {
				border-collapse: collapse;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div style="padding:10px;">
			<table>
				<thead>
					<tr>
						<th>Command</th>
						<th>List of aliases</th>
					</tr>
				</thead>
				<tbody>
					${LIST}
				</tbody>
			</table>
		</div>
	</body>
</html>
