<form method="post" action="">
	<table border="0">
		<tr><td>Command Tokens: </td><td><label><input name="tokens" type="text" size="50" value="${TOKENS}" autocomplete="off" /> (Separated by spaces) </label></td></tr>
		<tr><td>PM-specific Tokens: </td><td><label><input name="pmtokens" type="text" size="50" value="${PMTOKENS}" autocomplete="off" /> (Separated by spaces) </label></td></tr>
		<tr><td>Groups: </td><td><label><input name="groups" type="text" size="50" value="${GROUPS}" autocomplete="off" /> (Separated by commas, ordered from lowest to higher rank) </label></td></tr>
		<tr><td>Voice Group: </td><td><label><input name="voice" type="text" size="10" value="${VOICE}" autocomplete="off" /></label></td></tr>
		<tr><td>Driver Group: </td><td><label><input name="driver" type="text" size="10" value="${DRIVER}" autocomplete="off" /></label></td></tr>
		<tr><td>Moderator Group: </td><td><label><input name="mod" type="text" size="10" value="${MOD}" autocomplete="off" /></label></td></tr>
		<tr><td>Bot Group: </td><td><label><input name="bot" type="text" size="10" value="${BOT}" autocomplete="off" /></label></td></tr>
		<tr><td>Room Owner Group: </td><td><label><input name="owner" type="text" size="10" value="${OWNER}" autocomplete="off" /></label></td></tr>
		<tr><td>Administrator Group: </td><td><label><input name="admin" type="text" size="10" value="${ADMIN}" autocomplete="off" /></label></td></tr>
		<tr><td>Help Message: </td><td><label><input name="helpmsg" type="text" size="80" placeholder="Hi $USER, I am a bot for Pokemon Showdown." value="${HELPMSG}" autocomplete="off" /></label></td></tr>
		<tr><td>Sleeping Rooms: </td><td><label><input name="sleep" type="text" size="80" value="${SLEEP}" autocomplete="off" /> (Separated by commas) </label></td></tr>
		<tr><td>Locked Users: </td><td><label><input name="locklist" type="text" size="80" value="${LOCKLIST}" autocomplete="off" /> (Separated by commas) </label></td></tr>
		<tr><td colspan="2"><input name="antispam" type="checkbox" value="checkbox" ${ANTISPAM}/>&nbsp;Use Anti-Spam system for private commands</td></tr>
		<tr><td colspan="2"><input name="antirepeat" type="checkbox" value="checkbox" ${ANTIREPEAT}/>&nbsp;Use Anti-Repeat system for public commands</td></tr>
	</table>
	<p><label><input type="submit" name="edit" value="Save Changes" /></label></p>
</form>
<p><span class="${REQUEST_RESULT}">${REQUEST_MSG}</span></p>
		