<h3>Logger Configuration</h3>
<form method="post" action="">
	<table border="0">
		<tr><td>Security logs max old (in days): </td><td><input type="text" name="oldsec" value="${OLDSEC}" /></td></tr>
	</table>
	<p>Specify <em>0 days</em> to keep the logs indefinitely</p>
	<p><input type="submit" name="editlogconfig" value="Save Changes" /></p>
</form>
<p><span class="${REQUEST_RESULT}">${REQUEST_MSG}</span></p>
<hr />
<h3>Security Log - Files</h3>
<blockquote>
	<table border="1">
		<tr>
			<td width="200px"><div align="center"><strong>File</strong></div></td>
			<td width="200px"><div align="center"><strong>Size</strong></div></td>
			<td width="200px"><div align="center"><strong>Date</strong></div></td>
			<td width="150px"><div align="center"><strong>Options</strong></div></td>
		</tr>
		${LOG_FILES}
	</table>
</blockquote>
		