<form method="post" action="">
		<p><strong>Max number of battles of regular users</strong>:&nbsp;<input name="maxbattles" type="text" size="10" value="${MAXBATTLES}" /></p>
		<p><strong>Max number of ladder battles</strong>:&nbsp;<input name="maxladder" type="text" size="10" value="${MAXLADDER}" /></p>
		<p><strong>Max number of turns (0 = no limit)</strong>:&nbsp;<input name="maxturns" type="text" size="10" value="${MAXTURNS}" /></p>
		<p><input type="checkbox" name="timeron" ${TIMER_ON} />&nbsp;Turn the battle timer on.</p>
		<p><strong>Rooms to join tournaments</strong>:&nbsp;<input name="jointours" type="text" size="50" value="${JOINTOURS}" autocomplete="off" /> (separated by commas)</p>
		<p><input type="checkbox" name="joinabandoned" ${JOIN_ABANDONED} />&nbsp;Join abandonned / pending battles.</p>
		<p><strong>Battle Initial Messages</strong>:</p><p><textarea name="initmsg" cols="60" rows="3" placeholder="gl hf">${INITMSG}</textarea></p>
		<p><strong>Win Messages</strong>:</p><p><textarea name="winmsg" cols="60" rows="3" placeholder="I win!">${WINMSG}</textarea></p>
		<p><strong>Lose Messages</strong>:</p><p><textarea name="losemsg" cols="60" rows="3" placeholder="gg">${LOSEMSG}</textarea></p>

		<details>
			<summary style="font-size: 14px"><strong>More battle message options</strong></summary>

			<p>Note: You can use some variables for more dynamic responses:</p>
			<ul>
				<li><string>$POKE</string> - Name of the bot's pokemon involved in the event</li>
				<li><string>$PLAYER</string> - Name of the foe player involved in the event</li>
				<li><string>$POKE_FOE</string> - Name of the foe's pokemon involved in the event</li>
			</ul>

			<p>If the event does not provide information about a variable, it will be set to ???. <br>For example: For the fainted pokemon events, $POKE_FOE is only available when a foe's pokemon faint, and $POKE is only available when a bot's pokemon faints.</p>

			<p><strong>Messages when doing a critical hit</strong>:</p><p><textarea name="critfoemsg" cols="60" rows="3" placeholder="Great! Got a crit!">${CRITFOEMSG}</textarea></p>
			<p><strong>Messages when receiving a critical hit</strong>:</p><p><textarea name="critmsg" cols="60" rows="3" placeholder="I call hax!">${CRITMSG}</textarea></p>

			<p><strong>Messages when missing a move</strong>:</p><p><textarea name="missmsg" cols="60" rows="3" placeholder="Come on $POKE! You are blind!">${MISSMSG}</textarea></p>
			<p><strong>Messages when foe misses a move against the bot</strong>:</p><p><textarea name="missfoemsg" cols="60" rows="3" placeholder="Great work $POKE! Keep dodging!">${MISSFOEMSG}</textarea></p>

			<p><strong>Messages when a bot's pokemon faints</strong>:</p><p><textarea name="faintmsg" cols="60" rows="3" placeholder="You did a great work $POKE... Now rest in peace...">${FAINTMSG}</textarea></p>
			<p><strong>Messages when a foe's pokemon faints</strong>:</p><p><textarea name="faintfoemsg" cols="60" rows="3" placeholder="Ha ha, get rekt $POKE_FOE!">${FAINTFOEMSG}</textarea></p>
		</details>
		
		<p><input type="submit" name="edit" value="Save Changes" /></p>
</form>
<p><span class="${REQUEST_RESULT}">${REQUEST_MSG}</span></p>
