<form method="post" action="">
	<p>
		An external battle bot service allows you to delegate the battle bot AI to an external service. <br> 
		The bot calls this service by calling an API that must be implemented by the service. 
		Check the <a href="https://github.com/AgustinSRG/Showdown-ChatBot/blob/master/src/bot-modules/battle/battle-bot-service.swagger.yml" target="_blank" rel="noopener noreferrer">API specification</a> if you are planning to implement your own service. 
		You can use the <a href="https://editor.swagger.io/" target="_blank" rel="noopener noreferrer">Swagger Editor</a> to visualize the specification and generate a template server.
	</p>
	<p>
		<input type="checkbox" name="serviceenabled" ${SERVICE_ENABLED} />&nbsp;Enable external battle bot service.
	</p>

	<p>
		<strong>Base URL of the service</strong>:&nbsp;<input name="baseurl" type="text" style="width: 100%; max-width: 50ch;" value="${BASE_URL}" autocomplete="off" placeholder="http://127.0.0.1:8081" /><br>
		<span>This URL contains the host and the port of the server hosting the battle bot service.</span>
	</p>

	<p>
		<strong>Service authorization</strong>:&nbsp;<input name="authvalue" type="text" style="width: 100%; max-width: 50ch;" value="${AUTH_VALUE}" autocomplete="off" /><br>
		<span>Authorization token for the bot to use the service.</span>
	</p>

	<p>
		<strong>Authorization header name</strong>:&nbsp;<input name="authname" type="text" style="width: 100%; max-width: 50ch;" value="${AUTH_NAME}" autocomplete="off" placeholder="Authorization" /><br>
		<span>The name of the <i>Authorization</i> header for the HTTP requests to the service.</span>
	</p>

	<p><input type="submit" name="edit" value="Save Changes" /></p>
</form>
<p><span class="${REQUEST_RESULT}">${REQUEST_MSG}</span></p>