<table border="1">
	<tr><td width="150"><strong>Id</strong></td><td width="550">${ID}</td></tr>
	<tr><td><strong>Format</strong></td><td>${FORMAT}</td></tr>
	<tr><td><strong>Pokemon</strong></td><td>${POKEMON}</td></tr>
	<tr><td colspan="2"><a href="/teams/get/${ID}/exportable/" target="_blank"><button>Get Exportable Team</button></a></td></tr>
	<tr><td colspan="2">
		<button onclick="removeTeam('${ID}');">Delete</button>&nbsp;<span id="confirm-${ID}">&nbsp;</span>
	</td></tr>
</table>
<br /><br />
