/* Css File */

body {
	background-color:#FFFFFF;
}

td {
	padding:5px;
	vertical-align:middle;
}

p {
	padding:5px;
}

.maindiv {
	width:90%;
	background-color:#F8FBFD;
	margin-bottom:10px;
	border: 1px solid #BBCCDD;
}

.home-link {
	color:#000000;
	text-decoration:none;
}

.home-link:hover {
	color:#000000;
	text-decoration:none;
}

.home-link:visited {
	color:#000000;
	text-decoration:none;
}

.page-content {
	padding:10px;
}

.header {
	margin:8px;
}

.invalid-login {
	color:#FF0000;
	font-style:italic;
	font-size:9px;
}

.copyright {
	padding:8px;
}

.menu-option {
	font-size:24px;
	color:#0000FF;
	text-decoration:none;
	padding:8px;
}

.menu-option:hover {
	color:#000033;
}

.menu-option-selected {
	font-size:24px;
	color:#000000;
	font-weight:bold;
	padding:8px;
	text-decoration:none;
}

.menu-separator {
	font-size:24px;
}

.menu {
	padding:8px;
	text-align:center;
}

.error-msg {
	color:#FF0000;
}

.ok-msg {
	color:#00FF00;
}

.userlist {
	border: 1px solid #BBCCDD;
}

.submenu-option {
	font-size:16px;
	color:#0000FF;
	text-decoration:none;
	padding:8px;
}

.submenu-option:hover {
	color:#000033;
}

.submenu-option-selected {
	font-size:16px;
	color:#000000;
	font-weight:bold;
	padding:8px;
	text-decoration:none;
}
